@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    padding: 2rem;
    background: url(./background.png);
    background-repeat: no-repeat;
    background-size: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

#title {
    text-align: center;
}

#credit {
    font-size: 24px;
    text-align: center;
}

#instructions {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    max-width: 700px;
    gap: 10px;
}

input, button {
    color: black;
    font-size: 2rem;
    padding: 5px 12px;
    background-color: white;
    border-radius: 0px;
    border: 3px solid gray;
    border-radius: 10px;
}

input {
    flex: 1;
    min-width: 0;
}


button {
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: skyblue;
}

input::placeholder {
    color: gray;
    transition: .2s;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: white;
}

#weatherBox {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 100px;
    padding: 100px;
    box-shadow: 0px 0px 15px -5px;
}

#weatherBoxTop {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 25px 0px;
}

#tempBox {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#temperature {
    font-size: 75px;
}

#statusBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    border-radius: 50px;
    border: solid gray;
    min-height: 250px;
    min-width: 250px;
}

#status {
    position: relative;
    top: -50px;
    color: rgb(64, 64, 64);
    font-size: 24px;
}

#windBox, #precipBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

#statsBox {
    display: flex;
    gap: 50px;
}

.statsSub {
    display: flex;
    align-items: end;
}

.sub {
    font-size: 21px;
    color: rgb(200, 200, 200);
}

@media (max-width: 700px) {
    #weatherBox {
        padding: 50px;
    }
    #statusBox {
        min-width: 200px;
        min-height: 200px;
    }
    #iconContainer img {
        width: 170px;
        height: 170px;
    }
    #status {
        font-size: 20px;
        top: -40px;
    }
    h1 {
        font-size: 42px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    #temperature {
        font-size: 60px;
    }
    p {
        font-size: 24px;
    }
    .sub {
        font-size: 16px;
    }
}

@media (max-width: 605px) {
    form {
        flex-direction: column;
        max-width: 250px;
    }
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    #temperature {
        font-size: 40px;
    }
    #statusBox {
        min-width: 160px;
        min-height: 160px;
    }
    #iconContainer img {
        width: 130px;
        height: 130px;
    }
    #status {
        font-size: 16px;
        top: -30px;
    }
}